.funcionario-content {
    background-color: #f0f0f0;
    padding: 25px;
    width: 100%;
    flex: 1;
    border-radius: 30px;
    display: flex; /* Flexbox para o conteúdo */
    flex-direction: column; /* Organiza o conteúdo de forma vertical */
    overflow-y: auto; /* Habilita a rolagem vertical */
    position: relative;
    width: calc(100% - 250px); /* Garante que o conteúdo ocupe o restante da tela, após a barra
 lateral */
    margin: 20px;
}

.funcionario-content-body {
    overflow-y: auto;
    padding-right: 10px; /* evita que a rolagem sobreponha o conteúdo */
}

.funcionario-header {
    font-size: 15px;
    color: rgb(53, 52, 52);
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    position: sticky;
    z-index: 2; /* Para garantir que o cabeçalho fique acima do conteúdo */

}


.perfil-btn {
    background: linear-gradient(to bottom, #1f2937, #111827);
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-btn a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    align-items: center;
    gap: 8px;
}

.perfil-btn img {
    vertical-align: middle;
    margin-right: 10px;
}