
.table-funcionarios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}