.table-data {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
}

thead {
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

th,
td {
    text-align: left;
    padding: 14px 18px;
    font-size: 16px;
}

th {
    font-weight: 600;
    color: #333;
}

tr:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
    border-radius: 12px;
}

tbody tr:hover {
    background-color: #f9f9f9;
    transition: background 0.3s ease;
}